@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 190px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 20px;
  box-shadow: rosybrown 1px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/*Back-to-tp-button*/
.btn-fixed{
  background-color:#97D3F6  ;
  position:fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 10px;
}

.btn-fixed:hover{
  background-color: rgb(127, 147, 207);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
}

.btn-fixed.visible{
  visibility: visible;
}
  /*START Section 1*/
.section-1{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-1 h2{
  padding-top: 20px;
  display: flex;
  font-size: 24px; 
}

.section-1 a{
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(69, 184, 69);
  color: white;
  padding: 8px 30px;
  border-radius: 15px;  
}

.section-1 a:hover{
  background-color: rgb(39, 100, 39);
}


.section-1 p{
  text-align: center;
  line-height: 28px;
  max-width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*START Section 2*/
.section-2{
  border-top: #d5d5d5 solid;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section-2 p{
  text-align: center;
  line-height: 28px;
  max-width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*START Section 3*/
.section-3{
  border-top: #d5d5d5 solid;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section-3 p{
  text-align: center;
  line-height: 28px;
  max-width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*START Section 4*/
.section-4{
  border-top: #d5d5d5 solid;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section-4 p{
  text-align: center;
  line-height: 28px;
  max-width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.section-4 a{
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(69, 184, 69);
  color: white;
  padding: 8px 30px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.section-4 a:hover{
  background-color: rgb(39, 100, 39);
}


